@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* General */

* {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    border: 0px;
}

input {
    width: 459px;
    height: 52px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 27px;
    text-align: center;
}

label {
    display: block;
}
/* Containers */

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.containerStart1 {
    display: flex;
    margin: 146px 0px 134px 0px;
    width: 35.3125%;
}

.containerSurvey2 {
    display: flex;
    text-align: left;
    width: 35.3125%;
    height: 760px;
    vertical-align: top;
    align-items: center;
    flex-direction: column;
}
/* Text content */

.surveyTitle {
    font-size: 26px;
    font-weight: 700;
}

/* Buttons */

button:hover {
    background-color: #FFFF7D;
    cursor: pointer;
    color: black;
}

.buttonUpCenter {
    display: inline-block;
    font-size: 22px;
    color: #FFF;
    width: 418px;
    height: 35.554px;
    text-align: center;
    border-radius: 35px;
    background-color: #3EB25E;
    border-color: transparent;
}

.skip {
    display: inline-block;
    font-size: 22px;
    color: #FFF;
    width: 418px;
    height: 36px;
    text-align: center;
    border-radius: 35px;
    background-color: #3EB25E;
    border-color: transparent;
    margin-top: 16px;
}

#page4ask1 {
    margin: 177px 0px 8px 0px;
}

#page4ask2 {
    margin-bottom: 8px;
}

#page4ask3 {
    margin-bottom: 8px;
}

#page4input1 {
    margin-bottom: 27px;
}

#page4input2 {
    margin-bottom: 24px;
}

#page4input3 {
    margin-bottom: 44px;
}

@media screen and (max-width: 500px) {
    .imgResp {
        width: 100%;
    }
    
    .container {
        flex-direction: column;
    } 

    input {
        width: 278px;
        height: 33px;
        font-size: 16px;
    }

    .surveyTitle {
        display: flexbox;
        font-size: 16px;
        width: 55.8%px;
        height: 18px;
    }

    .containerStart1 {
        display: inline-flex;
        margin: 61px 76px 20px 44px;
        width: 359px;
    }
    
    .containerSurvey2 {
        width: 261px;
        height: 100%;
        margin-bottom: 52px;
    }    

    .buttonUpCenter {
        font-size: 16px;
        width: 302px;
        height: 26px;
    }

    .skip {
        font-size: 16px;
        width: 302px;
        height: 26px;
    }

    #page4ask1 {
        margin: 0px 0px 7px 0px;
        width: 261px;
        height: 18px;
    }

    #page4ask2 {
        margin: 0px 0px 7px 0px;
        width: 261px;
        height: 18px;
    }

    #page4ask3 {
        margin: 0px 0px 7px 0px;
        width: 261px;
        height: 18px;
    }

    #page4input1 {
        margin-bottom: 14px;
    }

    #page4input2 {
        margin-bottom: 10px;
    }

    #page4input3 {
        margin-bottom: 34px;
    }

}